body {
  color: #ffffff;
  font-family: 'Comfortaa', cursive;
  background-image: linear-gradient(0deg, rgba(239,107,111,1) 0%, rgba(234,172,139,1) 100%);

}

.topnav {
  background-color: #EAAC8B;
  overflow: hidden;
  font-family: 'Quicksand', sans-serif;
}

.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px
}

.topnav a:hover {
  color: #B56576;
}

 img {
   width: 75%;
   display: block;
   margin-left: auto;
   margin-right: auto;
}
