body {
  background: linear-gradient(to bottom, rgba(239,107,111,1), rgba(234,172,139,1)) fixed;
  }

  h1 {
    font-family: 'Press Start 2P';

  }
.content {
  border-spacing: 15px;
  padding: 14px 16px;
  display: grid;
}

.container {
  padding: 14px 16px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

iframe {
  background-color: #EAAC8B;
  outline-style: solid;
  outline-color: #EAAC8B;
  outline-width: thick;
}

.tips {
  background-color: #EAAC8B;
  outline-style: solid;
  outline-color: #EAAC8B;
  outline-width: thick;
}
